@import '../nav-footer-scss/nav-footer.scss';
$tipografia: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


#titulo_biblioteca {
    font-weight: bold;
    font-size: 55px;
    margin-top: 5rem;
    text-align: center;
    font-weight: bold;
}

.genero {
    display: grid;
    margin-top: 5rem;
    grid-template-columns: 1fr 2fr;
    

    img {
        margin: 2rem;
        margin-left: 20rem;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);

    }

    .text-genero {
        margin: auto;
        margin-left: 35px;
        

        h2 {
            font-size: 40px;
            margin-bottom: 1rem;
            margin-top: 5rem;

        }

        p {
            font-size: 25px;
            font-family: $tipografia;
            
        }

    }
}

/*Tablet*/
@media screen and (max-width: 1200px) {
    .genero {
        display: grid;
        margin-top: 5rem;
        grid-template-columns: 1fr 2fr;
        justify-items: center;
        justify-content: center;
        img {
            margin: auto;
        }

        .text-genero {
            text-align: center;
            width: 50vw;
            margin-bottom: 5rem;
        }

    }
}

/*Celular*/
@media screen and (max-width: 750px) {
    .genero {
        display: grid;
        margin-top: 5rem;
        grid-template-columns: 1fr;
        justify-items: center;
        justify-content: center;

        img {
            margin: auto;
            margin-top: 5rem;
        }

        .text-genero {
            text-align: center;
            width: 50vw;
        }

    }
}


#otros-generos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    justify-items: center;
    margin-top: 5rem;
    text-align: center;
    background-color: #ccc;
    padding: 5rem;

    .text-otros-genero {
        img {
            width: 100%;
            transition: all 300ms;
            position: relative;
            margin-bottom: 2rem;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);


            &:hover {
                transform: scale(1.15);
            }
        }
        h3 {
            margin-top: 2rem;
            a{
                text-decoration: none;
                color: black;
            }
        }
        
    }
}

/*Tablet*/
@media screen and (max-width: 1200px) {
    #otros-generos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        justify-items: center;
        padding: 6rem;
        text-align: center;

        .text-otros-genero {
            width: 60%;
            position: relative;
            img {
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
            }
        }
    }
}

/*Celular*/
@media screen and (max-width: 750px) {
    #otros-generos {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10rem;
        justify-items: center;

        .text-otros-genero {
            width: 60%;
            position: relative;

        }
    }
}