@import '../nav-footer-scss/nav-footer.scss';

body {
    font-family: Arial, sans-serif;
}

// Estilos del título de contacto
#titulo_contacto {
    background-color: antiquewhite;
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 5rem;
    margin-top: 5rem;
    text-align: center;
    font-weight: bold;
}

// Estilos del formulario
#form {
    display: flex;
    justify-content: center;
    margin: 5%;
    margin-top: 100px;
    margin-bottom: 50px;
    overflow: hidden;
    border: 1px solid black;
    background-image: url(../img/fondo_contactos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.form-registro {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 200px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;

    h4 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    p {
        height: 60px;
        text-align: center;
        font-size: 15px;
    }

    a {
        color: white;
        text-decoration: none;
    }

    .botons {
        width: 100%;
        background: #1f53c5;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 16px;
    }
}

.datos {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

#checkbox {
    p {
        margin-bottom: 10px;
    }
}

/*tablet*/
@media screen and (max-width: 1200px) {
    #form {
        background-image: url(../img/fondo_contactos.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    }
}

/*Celular*/
@media screen and (max-width: 750px) {
    #form {
        background-image: none;
    }
}