@import '../nav-footer-scss/nav-footer.scss';

#container_index {
    background-color: #faebd7;
}

/*Carrusel*/
#imagen-container {
    text-align: center;
    overflow: hidden;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    z-index: 2;

    article {
        position: relative;
    }

    img {
        width: 100%;
        height: auto;
        filter: brightness(50%)
            /*Para oscurecer foto*/
    }

    #titulo_inicio {
        font-size: 5rem;
        position: absolute;
        font-weight: bold;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* se utiliza para aplicar transformaciones a un elemento, como rotación, escala, sesgado, traslación (translate) o deformación. */
        color: white;

    }
}

/*Tamaño Tablet*/
@media screen and (max-width: 1200px) {
    #imagen-container{
        #titulo_inicio {
            font-size: 4rem;
            position: absolute;
            font-weight: bold;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
        }
    }
}

/*Tamaño Celular*/
@media screen and (max-width: 750px) {
    #imagen-container {
        img {
            max-width: 0;
            display: none;
        }

        #titulo_inicio {
            position: static;
            transform: none;
            text-align: center;
            font-size: 5rem;
            background-color: #0056b3;
        }
    }
}


/*Autora 1*/

#autora1 {
    display: grid;
    margin-top: 5rem;
    grid-template-columns: 1fr 2fr;
    background-color: #ccc;

    img {
        margin: 2rem;
        margin-left: 20rem;
    }

    #text-autora1 {
        margin: 5%;
        margin-left: 35px;

        h2 {
            font-size: 40px;
            margin-bottom: 1rem;
            margin-top: 5rem;

        }

        p {
            font-size: 25px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
    }
}


/*Tamaño Tablet*/

@media screen and (max-width: 1200px) {
    #autora1 {
        display: grid;
        margin-top: 5rem;
        grid-template-columns: 1fr 2fr;
        justify-items: center;
        justify-content: center;

        img {
            margin: auto;
            margin-top: 5rem;
        }

        #text-autora1 {
            text-align: center;
            width: 50vw;
            margin-bottom: 5rem;
        }
    }

    
}


/*Tamaño Celular*/
@media screen and (max-width: 750px) {
    #autora1 {
        display: grid;
        margin-top: 5rem;
        grid-template-columns: 1fr;
        justify-items: center;
        justify-content: center;

        img {
            margin: auto;
            margin-top: 5rem;
        }

        #text-autora1 {
            text-align: center;
        }
    }
}

/* Libro */

.libro {
    margin-top: 5rem;
    text-align: center;

    img {
        max-width: 50%;
    }
}

@media screen and (max-width: 1200px) {
    .libro {
        margin-top: 5rem;
        text-align: center;
        img {
            max-width: 80%;
        }
    }

}


/*Barra*/


#barra {
    margin-top: 5rem;
    text-align: center;
    background-color: #1e959d;

    img {
        max-width: 50%;
        width: 100rem;
    }
}

/*Tamaño Celular*/
@media screen and (max-width: 750px) {
    .libro {
        margin-top: 5rem;
        text-align: center;

        img {
            max-width: 100%
        }
    }

    #barra {
        margin-top: 5rem;
        text-align: center;

        img {
            max-width: 100%;
            width: 500rem;
        }
    }
}

/*Autora 2*/

#autora2 {
    display: grid;
    margin-top: 5rem;
    grid-template-columns: 1fr 2fr;
    background-color: #ccc;

    img {
        margin: 2rem;
        margin-left: 20rem;
    }

    #text-autora2 {
        margin: 5%;
        margin-left: 35px;

        h2 {
            font-size: 40px;
            margin-bottom: 1rem;
            margin-top: 5rem;

        }

        p {
            font-size: 25px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
    }
}

/*Tamaño Tablet*/
@media screen and (max-width: 1200px) {
    #autora2 {
        display: grid;
        margin-top: 5rem;
        grid-template-columns: 1fr 2fr;
        justify-items: center;
        justify-content: center;

        img {
            margin: auto;
            margin-top: 5rem;
        }

        #text-autora2 {
            text-align: center;
            width: 50vw;
            margin-bottom: 5rem;
        }
    }
}



/*Tamaño Celular*/
@media screen and (max-width: 750px) {
    #autora2 {
        display: grid;
        margin-top: 5rem;
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: center;

        img {
            margin: auto;
            margin-top: 5rem;
        }

        #text-autora2 {
            text-align: center;
            width: 50vw;
        }
    }
}

/*Otros Autores*/

#titulo_otros {
    padding: 2rem;
    background-color: grey;
    margin-top: 6rem;


    h2 {
        color: white;
        font-weight: bold;
        text-align: center;
        font-size: 50px;
    }
}

#autores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    padding: 6rem;
    text-align: center;

    .otros_autores {
        img {
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
        }
    }

    .otros_autores {
        h3 {
            margin-top: 1rem;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    #autores {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        justify-items: center;
        padding: 6rem;
        text-align: center;

        .otros_autores {
            text-align: center;
        }
    }
}

/*Tamaño Celular*/
@media screen and (max-width: 750px) {
    #autores {
        display: grid;
        margin-top: 5rem;
        grid-template-columns: 1fr;
        row-gap: 8rem;

        .otros_autores {
            text-align: center;
        }
    }
}