@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

#menu_2 {
  display: none;
}

.imagen-titulo {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #333;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  z-index: 1;
}

.logo-top {
  display: inline-block;
}
.logo-top img {
  max-width: 100px;
  height: auto;
}

nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-left: 10%;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  color: #fff;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  margin-right: 30px;
  font-weight: bold;
}
nav ul li a:hover {
  background-color: #555;
}

#buscador {
  display: flex;
  align-items: center;
}
#buscador input {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}
#buscador button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#buscador button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 1200px) {
  #menu_1 {
    display: none;
  }
  #menu_2 {
    display: flex;
    background-color: #333;
  }
  #menu_2 .navbar-brand {
    color: white;
  }
  #offcanvasNavbar {
    background-color: #c3c3c3;
  }
}
/*Footer*/
#copyright {
  background-color: #c3c3c3;
}

.footer-contac {
  color: white;
  margin: 1rem;
}

#footer-text {
  padding: 2rem 3rem 0 3rem;
}

/*Carrusel*/
#imagen-container {
  text-align: center;
  overflow: hidden;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  z-index: 2;
}
#imagen-container article {
  position: relative;
}
#imagen-container img {
  width: 100%;
  height: auto;
  filter: brightness(50%);
}
#imagen-container h1 {
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* se utiliza para aplicar transformaciones a un elemento, como rotación, escala, sesgado, traslación (translate) o deformación. */
  color: white;
}

@media screen and (max-width: 1200px) {
  #imagen-container img {
    max-width: 0;
    display: none;
  }
  h1 {
    position: static;
    transform: none;
    text-align: center;
    font-size: 5rem;
    background-color: #0056b3;
  }
}
/*Autora 1*/
#autora1 {
  display: grid;
  margin-top: 5rem;
  grid-template-columns: 1fr 2fr;
  background-color: #ccc;
}
#autora1 img {
  margin: 2rem;
  margin-left: 20rem;
}
#autora1 #text-autora1 {
  margin: 5%;
  margin-left: 35px;
}
#autora1 #text-autora1 h2 {
  font-size: 40px;
  margin-bottom: 1rem;
  margin-top: 5rem;
}
#autora1 #text-autora1 p {
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media screen and (max-width: 1200px) {
  #autora1 {
    display: grid;
    margin-top: 5rem;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
  }
  #autora1 img {
    margin: auto;
    margin-top: 5rem;
  }
  #autora1 #text-autora1 {
    text-align: center;
    width: 50vw;
  }
}
/* Libro */
.libro {
  margin-top: 5rem;
  text-align: center;
}
.libro img {
  max-width: 50%;
}

/*Barra*/
#barra {
  margin-top: 5rem;
  text-align: center;
}
#barra img {
  max-width: 100%;
  width: 150rem;
}

@media screen and (max-width: 1200px) {
  .libro {
    margin-top: 5rem;
    text-align: center;
  }
  .libro img {
    max-width: 100%;
  }
  #barra {
    margin-top: 5rem;
    text-align: center;
  }
  #barra img {
    max-width: 100%;
    width: 500rem;
  }
}
/*Autora 2*/
#autora2 {
  display: grid;
  margin-top: 5rem;
  grid-template-columns: 1fr 2fr;
  background-color: #ccc;
}
#autora2 img {
  margin: 2rem;
  margin-left: 20rem;
}
#autora2 #text-autora2 {
  margin: 5%;
  margin-left: 35px;
}
#autora2 #text-autora2 h2 {
  font-size: 40px;
  margin-bottom: 1rem;
  margin-top: 5rem;
}
#autora2 #text-autora2 p {
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media screen and (max-width: 1200px) {
  #autora2 {
    display: grid;
    margin-top: 5rem;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
  }
  #autora2 img {
    margin: auto;
    margin-top: 5rem;
  }
  #autora2 #text-autora2 {
    text-align: center;
    width: 50vw;
  }
}
/*Otros Autores*/
#titulo_otros {
  padding: 2rem;
  background-color: grey;
  margin-top: 6rem;
}
#titulo_otros h2 {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
}

#autores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  padding: 6rem;
  text-align: center;
}
#autores .otros_autores h3 {
  margin-top: 3rem;
}

@media screen and (max-width: 1200px) {
  #autores {
    display: grid;
    margin-top: 5rem;
    grid-template-columns: 1fr;
    row-gap: 8rem;
  }
  #autores .otros_autores {
    text-align: center;
  }
}

/*# sourceMappingURL=inicio.css.map */
