@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');

body{
    background-color: #0a2ff1;
}

main{
    background-color: white;
}

.titulo1 p{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 25pt;
    text-align: center;
    color: #0a2ff1;
    background-color: white;
    

}

.titulo2 p{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 74pt;
    text-align: center;
    background-color: black;
    color: white;
}

.titulo3 p{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 85pt;
    text-align: center;
}


.titulo4 p{
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 18pt;
    text-align: center;
    color:#0a2ff1;
}

.titulo4 span{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 18pt;
    text-align: center;
    color:white;
    background-color: black;

}


.titulo5 p{
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 22pt;
    text-align: center;
    color:#0a2ff1;
}